# Virtual environments
venv/
.env/

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Logs and caches
*.log
*.sqlite3
.streamlit/
Backend/cache/

# OS & IDE junk
.DS_Store
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/
.env
Frontend/.env
Backend/app/.env
